<div class="form-group">
    <label class="label-primary" for="studneName">@Resources.SMSResource.StudentName</label>
    <input type="text" id="studentName" style="width:200px" />    
    
    <label class="label-primary" for="fatherName">@Resources.SMSResource.fatherName</label>
    <input type="text" id="fatherName" />    
    
    <label class="label-primary" for="gender">@Resources.SMSResource.gender</label>
    <input type="text" id="gender" />    
    
    <label class="label-primary" for="birthDate">@Resources.SMSResource.birthDate</label>
    <input type="text" id="birthDate"  />    
    
    <label class="label-primary" for="age">@Resources.SMSResource.age</label>
    <input type="text" id="age" />    
    
    <label class="label-primary" for="joinDate">@Resources.SMSResource.joinDate</label>
    <input type="text" id="joinDate" />    
    
    <label class="label-primary" for="area">@Resources.SMSResource.area</label>
    <input type="text" id="area" />    
    
    <label class="label-primary" for="address">@Resources.SMSResource.address</label>
    <input type="text" id="address" />    

    <label class="label-primary" for="phone">@Resources.SMSResource.phone</label>
    <input type="text" id="phone" />    

    <label class="label-primary" for="photo">@Resources.SMSResource.photo</label>
    <input type="text" id="photo" />    
</div>
@Styles.Render("~/Content/SmsStyles/Controls.css","~/Content/themes/base/jquery-ui.css" )
