<form>
    <fieldset name="gouda" class="myfieldset">
        <legend>@Resources.SMSResource.students</legend>
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="label-primary" for="studneName" style="width:100px">@Resources.SMSResource.StudentName</label>
                        <input type="text" id="studentName" placeholder="first name only" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="label-primary" for="fatherName" style="width:100px">@Resources.SMSResource.fatherName</label>
                        <input type="text" id="fatherName" placeholder="auto complete using existing fathers" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="label-primary" for="gender" style="width:100px">@Resources.SMSResource.gender</label>
                        <input type="text" id="gender" placeholder="radio buttons or ddl" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="label-primary" for="birthDate" style="width:100px">@Resources.SMSResource.birthDate</label>
                        <input type="date" id="birthDate" placeholder="date picker" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="label-primary" for="age" style="width:100px">@Resources.SMSResource.age</label>
                        <input type="text" id="age" placeholder="@Resources.SMSResource.age" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="label-primary" for="joinDate" style="width:100px">@Resources.SMSResource.joinDate</label>
                        <input type="text" id="joinDate" placeholder="date picker" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="label-primary" for="area" style="width:100px">@Resources.SMSResource.area</label>
                        <input type="text" id="area" placeholder="ddl" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="label-primary" for="address" style="width:100px">@Resources.SMSResource.address</label>
                        <input type="text" id="address" placeholder="@Resources.SMSResource.address" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label class="label-primary" for="phone" style="width:100px">@Resources.SMSResource.phone</label>
                        <input type="text" id="phone" placeholder="@Resources.SMSResource.phone" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="label-primary" for="photo" style="width:100px">@Resources.SMSResource.photo</label>
                        <input type="text" id="photo" placeholder="default image, drag & drop" />
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>

</form>
@Styles.Render("~/Content/SmsStyles/Controls.css", "~/Content/themes/base/jquery-ui.css")
