@{
    ViewBag.Title = "Manage Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="body" ng-app="smsApp" >
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.SMSResource.students</h1>
            </hgroup>

        </div>
    </section>
    <section class="content-wrapper main-content clear-fix" ng-controller="studentController as studentCtrl">
        
        @Html.Partial("AllStudents")
    </section>
</div>


@Scripts.Render("~/Scripts/angular.js")
@Scripts.Render("~/Scripts/Angular/studentController.js")
@Scripts.Render("~/Scripts/Localizer/JSLocalizer.js")
@Scripts.Render("~/Scripts/Localizer/JSResource.ar-EG.js")
@Scripts.Render("~/Scripts/Localizer/JSResource.js")


